server:
  port: 5000
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: weapons
          uri: lb://weapon-service
          predicates:
           - Path=/weapons/**


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:500/eureka/


logging:
  level:
    reactor:
      netty: INFO
    org:
      springframework:
        cloud:
          gateway: TRACE